.btn1{
  padding: 0px 80px;
}
.btn2{
  padding: 0px 80px;
  text-align: center;
}
.btn3,.btn4{
  text-align:start;
}
.heading{
  color: blue;
}
li{
  color: rgb(117, 115, 115);
}
.last{
  margin-left: 100px;
}
.button{
  background-color: white;
}
.btn-success{
  padding: 0px 80px;
}